@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  min-width: 1320px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666666;
}
ul, ol { list-style: none; }
a { color : #666666; }
h1,h2,h3,h4,h5,h6 { line-height: 1; }


/* header area------------------------------------------- */
#header-wrap {
  width: 1320px;
  margin: 0 auto;
  background: #f1f1f1;
}
#header-box {
  position: fixed;
  width: 100%;
  height: 86px;
  background: #fff;
  z-index: 200;
  box-shadow: 1px 1px 20px 0px;
}
/* 상단 고정형 메뉴 -------------------------------------------*/
#header {
  position: fixed;
  width: 1320px;
  margin: 0 auto;
  padding: 26px 20px 0px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 300;
  background: #fff;
}
#logo { float: left; }
#header .inner { float: right; }
#header .inner #gnb, #header .inner #login-menu { float: left; }
#header .inner > ul {
  overflow: hidden;
}
#header .inner > ul li {
  float: left;
}
#header .inner > ul > li > a {
  line-height: 30px;
}


#gnb {
  margin-right: 250px;
  padding-top: 5px;
}
#gnb li {
  margin-left: 50px;
}
#gnb li a {
  transition: 0.8s;
  padding: 0px 8px;
}
#gnb li:nth-child(1) {
  margin-left: 30px;
}
#gnb li:hover a {
  background-color: #d60815;
  color: #fff;
  padding: 0px 8px;
  border-radius: 50px;
}

#login-menu {
}
#login-menu li {
  margin-left: 30px;
}
#login-menu li a {
  line-height: 20px;
}
#login-menu li:nth-child(1) {
  margin-left: 0px;
}


/* 장바구니 카운터------------------------------------------- */
#login-menu li a.cart span.count {
  display: inline-block;
  float: right;
  width: 45px;
  height: 36px;
  margin-left: 10px;

}
#login-menu li:nth-child(1) {
  background: url('../img/gnb_ico_chatbot_off.png');
  background-repeat: no-repeat;
}
#login-menu li:nth-child(2) {
  margin-top: 5px;
  background: url('../img/gnb_ico_myasiana_off.png');
  background-repeat: no-repeat;
}
#login-menu li:nth-child(3) {
  margin-top: 7px;
  background: url('../img/gnb_ico_search_off.png');
  background-repeat: no-repeat;
}

/* 메인 배너 영역 -------------------------------------------*/
#mainbanner {
}
#mainbanner .inner {
  position: relative;
  width: 1320px;
  height: 100%;
}

.slick-slide img {
  margin: 0 auto;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dots {
  /* display: none !important; */
  position: absolute;
  top: 600px;
  right: 0;
  float: right;
  margin-right: 10%;
}

.slick-dots li {
  float: left;
}

.slick-dots li button {
  background-color: rgba(0,0,0,0.2);
  border: 2px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 10px;
}


/* 메인배너 텍스트------------------------------------------- */
/* 메인배너 메인타이틀------------------------------------------- */
#mainbanner .banner {
  text-shadow: 1px 1px 10px rgb(0,0,0,0.5);
  position: relative;
  padding-top: 60px;
  cursor: pointer;
}

#mainbanner .banner .maintext {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: 0 auto;
}

#mainbanner .banner p {
  font-size: 50px;
  color: #fff;
}

#mainbanner .banner p.maintitle {
  line-height: 60px;
}
#mainbanner .banner p.subtitle {
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
}
#mainbanner .banner p.subtitle + .common-btn {
  margin-top: 30px;
  border: 3px solid #f9f9f9;
  color: #f9f9f9;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#mainbanner .banner p.subtitle + .common-btn:hover {
  background: #d60815;
  border: 3px solid #d60815;
}

/* 버튼 공통 영역------------------------------------------- */
.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 3px solid #777;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  color: #777;
  transition: 0.5s;
}
.common-btn:hover {
  background-color: #777;
  color:#fff;
}

/* 컨텐츠 영역(section 1~5 공통부분)------------------------------------------- */
#container section .inner {
  width: 1320px;
  min-height: 650px;
  margin:  0 auto;
  text-align: center;
  overflow: hidden;
}
#container section:nth-child(even) {
  background: #f9f9f9;
}
#container section:nth-of-type(1) .inner {
  padding-top: 100px;
  min-height: 485px;
}
#container section:nth-of-type(2) .inner {
  padding-top: 100px;
  padding-bottom: 1px;
  min-height: 600px;
}
#container section:nth-of-type(6) .inner {
  padding: 100px 0px;
  min-height: 485px;
}

/* section 공통요소 style*/
#container section .inner h2 {
  font-size: 45px;
  line-height: 1;
  color: #333;
}
#container section .inner .subtitle {
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  color: #666666;
}

/* section 첫번째-------------------------------------------- */
#content-wrap {
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.content .items {
  font-size: 18px;
}

.content .items .img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0,0,0,1.0);
  box-shadow: 1px 1px 10px;
  cursor: pointer;
}

.content .items .img > img {
  width: 100%;
  transition-duration: .5s;
  transform-origin: center center;
}

.content .items .img > span {
  position: absolute;
  display: block;
  bottom: -50px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  line-height: 2;
  text-align: center;
  color: white;
  transition: .5s;
}

.content .items .img:hover > span {
  bottom: calc( 50% - 25px );
}

.content .items .img:hover > img {
  transform: scale( 1.2, 1.2 );
  opacity: .5;
}

/* section 두번째------------------------------------------- */
#container section .inner .careimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container section .inner .careimg img {
  margin: 40px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 30%)

}

#container section .inner .careimg h3 {
  font-size: 18px;
  padding: 10px;
}
#container section .inner .careimg p {
  line-height: 20px;
  padding-bottom: 100px;
}


/* section 3,4,5공통 ----------------------------------------------------*/
#container section .inner .box {
  float: left;
  width: 50%;
  min-height: 650px;
  text-align: center;
}
#container section .inner .box.img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#container section .inner .box .text-box {
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-top: 160px;
  padding-left: 140px;
}
#container section .inner .box .text-box h2 {
  line-height: 60px;
}
#container section .inner .box .text-box a {
  text-align: center;
  margin-top: 25px;
  box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
}

/* section 세번째 ----------------------------------------------------*/
#container section:nth-child(3) .box.img {
  background: url('../img/asiana_section_3/bg.png');
  box-shadow: 1px 1px 10px;
}


/* section 네번째 ----------------------------------------------------*/
#container section:nth-child(4) .box.img {
  background-image: url('../img/asiana_section_4/bg.png');
  box-shadow: 1px 1px 10px;
}
#container section:nth-child(4) .inner .box {
  text-align: left;
}
#container section:nth-child(4) .inner .box .text-box {
  display: inline-block;
  text-align: right;
  margin-top: 160.5px;
  padding-left: 50px;
}


/* section 다섯번째---------------------------------------------------- */
#container section:nth-child(5) .box.img {
  background-image: url('../img/asiana_section_5/bg.png');
  box-shadow: 1px 1px 10px;
}

/* section 여섯번째------------------------------------------- */
#container section .inner .thumb-img-wrap {
  text-align: center;
}
#container section .inner .thumb-img-wrap ul {
  overflow: hidden;
  display: inline-block;
}
#container section .inner .thumb-img-wrap ul:nth-child(1) {
  margin-top: 50px;
}
#container section .inner .thumb-img-wrap ul:nth-child(5) {
  display: block;
}
#container section .inner .thumb-img-wrap ul li {
  float: left;
  width: calc( 100% / 6 );
  animation-name: big;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  transition: 0.3s;
}
@keyframes big {
  0% { opacity: 0; transform: scale(0.0); }
  100% { opacity: 1; transform: scale(1.0); }
}
#container section .inner .thumb-img-wrap ul li:hover {
  transform: scale(1.1);
}
#container section .inner .thumb-img-wrap ul li img {
  width: 80%;
}

/* 하단 배너 영역 -------------------------------------------*/
#bottombanner {
  background-image: url('../img/asiana_banner/section7_img2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
#bottombanner .inner {
  position: relative;
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px;
}


/* 하단 영역---------------------------------------------------- */
#footer {  background-color: #222; }
#footer .inner {
  position: relative;
  width: 1320px;
  height: 200px;
  padding: 40px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
#footer .inner .f-box {
  float: left;
  padding-left: 30px;
}

/* site menu ----------------------------------------------------*/
#footer .inner .f-box ul { overflow: hidden; }
#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-right: 40px;
 }
 #footer .inner .f-box ul li:last-child {
   margin-right: 0;
 }
 #footer .inner .f-box ul li a {
   line-height: 20px;
   color: #fff;
  }
  #footer .inner .f-box .tel {
    float: left;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 17px;
    line-height: 16px;
    color: #777;
  }
#footer .inner .f-box .tel-first  {
  margin-top: 18px;
}
#footer .inner .f-box .copyright {
  margin-top: 80px;
  font-size: 12px;
  line-height: 16px;
  color: #777;
  }


#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top: 40px;
  right: 20px;
  border: 1px solid #d1d1d1;
  color: #333;
  outline: none;
  appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 15px;
  padding-left:  15px;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc( 100% - 15px ) center;
}
select::-ms-expand {  display: none; }
#familysite:focus {
  border: 1px solid #999;
  background-image: url('../img/select_box_arrow_focus.png');
}







/**/
